h1 {
  text-transform: capitalize;
}

input[type=number] {
  background-color: unset;
  color: unset;
}

.gallery-section {
  .gallery {
    display: flex;
    gap: 1rem;
  }

  img {
    cursor: pointer;
    max-width: 300px;
  }
}
